# ignore bplayer build/run configurations
/bplayer.pro.user
/bplayer.pro.user.*
/frontend/frontend.pro.user
/frontend/frontend.pro.user.*
/backend/backend.pro.user
/backend/backend.pro.user.*

#ingore qtcreator temporarty savings
*.autosave